*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#020b1f;
color:white;
padding:20px;
}

.container{
max-width:1300px;
margin:auto;
}

.top-box{
background:#101c35;
padding:35px;
border-radius:20px;
margin-bottom:30px;
}

.top-box h1{
font-size:42px;
color:#42a5ff;
margin-bottom:15px;
}

.top-box p{
color:#bfc9d9;
line-height:1.7;
font-size:17px;
}

.course-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
}

.course-card{
background:#101c35;
padding:30px;
border-radius:22px;
box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.icon{
width:60px;
height:60px;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
margin-bottom:20px;
}

.blue{
background:#2997ff;
}

.cyan{
background:#23d3d3;
}

.green{
background:#22c55e;
}

.orange{
background:#ff9f1a;
}

.course-card h2{
margin-bottom:15px;
font-size:28px;
}

.tags{
display:flex;
gap:10px;
margin-bottom:20px;
}

.tags span{
background:#1b2b4d;
padding:8px 14px;
border-radius:20px;
font-size:14px;
color:#8ec5ff;
}

.desc{
color:#c5d1e4;
line-height:1.7;
margin-bottom:20px;
}

.course-card ul{
padding-left:18px;
margin-bottom:25px;
}

.course-card ul li{
margin-bottom:12px;
color:#b8c7db;
}

.salary{
display:inline-block;
padding:12px 20px;
border-radius:14px;
font-weight:bold;
font-size:15px;
}

.blue-btn{
background:#2997ff;
}

.cyan-btn{
background:#23d3d3;
}

.green-btn{
background:#22c55e;
}

.orange-btn{
background:#ff9f1a;
}