*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#020b1f;
color:white;
padding:20px;
}

.container{
max-width:1400px;
margin:auto;
}

.top-box{
background:#101c35;
padding:30px;
border-radius:20px;
display:flex;
align-items:center;
gap:20px;
margin-bottom:30px;
}

.icon{
width:60px;
height:60px;
background:#2aa8ff;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
}

.top-box h1{
font-size:42px;
color:#42a5ff;
margin-bottom:8px;
}

.top-box p{
color:#bfc9d9;
}

.table-box{
background:#101c35;
padding:25px;
border-radius:20px;
margin-bottom:30px;
overflow:auto;
}

.table-box h2{
margin-bottom:20px;
color:#42a5ff;
}

table{
width:100%;
border-collapse:collapse;
min-width:1000px;
}

th{
background:#1d3768;
padding:16px;
text-align:left;
color:#9bc7ff;
font-size:14px;
}

td{
padding:18px;
border-bottom:1px solid #1d2c4d;
color:#d6dfef;
}

.green{
background:#103d2d;
padding:6px 12px;
border-radius:8px;
color:#45ffb0;
font-size:13px;
}

.blue{
background:#163a73;
padding:6px 12px;
border-radius:8px;
color:#7fb7ff;
font-size:13px;
}

.process-box{
background:#101c35;
padding:30px;
border-radius:20px;
margin-bottom:30px;
}

.process-box h2{
margin-bottom:25px;
color:#42a5ff;
}

.process-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
margin-bottom:25px;
}

.step{
background:#162541;
padding:22px;
border-radius:14px;
line-height:1.7;
color:#dbe7f7;
}

.deadline{
background:#2b2130;
padding:18px;
border-radius:12px;
color:#ffb84d;
}

.notes-box{
background:#101c35;
padding:30px;
border-radius:20px;
}

.notes-box h2{
margin-bottom:20px;
color:#42a5ff;
}

.notes-box ul{
padding-left:20px;
line-height:2.2;
color:#dbe7f7;
}